.header{
    background-image: url("/img/humansFirst_final.png");
    background-size: cover;
    height: 11.25rem;
}

.hf_pic{
    background-image: url("/img/human_first.jpg");
    background-position: -160px;
    background-size: cover;
    height: 12.5rem;
}