.card{
    border: 1px solid black;
    width: 10rem;
    max-width: 10rem;
    text-align: center;
    height: 14.5rem;
}
.card-body{
    border-radius:0 0 20px 20px;
    height: 11.87rem;
}
.card-header{
    padding: 0.5rem;
}
.post-link{
    text-decoration: none;
    background-color: rgb(125, 148, 206);
    color: white;
    padding: 5%;
    border-radius: 20px;
}